@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/Futura-Bold.woff2") format("woff2"),
    url("../fonts/futura/Futura-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
